/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
/*Google Font*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*Navbar style start here*/
header{
    /* width: 100%;
    margin: 0 200px; */
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}
header nav .logo h1{
    font-size: 30px;
    color: #606d5f;
}
header nav .menu{
    display: flex;
}
header nav .menu a li{
    list-style: none;
    font-size: 20px;
    transition: all 0.2s;
}
header nav .menu a li:hover{
    color: #4b709e;
}
header nav .menu a{
    text-decoration: none;
    margin-left: 40px;
    color: #888888;
}

/*Hero section style start here*/
.hero-section{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
}
.hero-section .text-content{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-section .image-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .image-content img{
    width: 100%;
}
.text-content h1{
    font-size: 50px;
    max-width: 400px;
    margin-bottom: 40px;
    line-height: 3rem;
    color: #606d5f;
}
.text-content p{
    font-size: 20px;
    color: #888888;
    margin-bottom: 30px;
    max-width: 450px;
}
.text-content button{
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    color: #888888;
}
/*Featured Products Section*/
.featured-products{
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}
.featured-products h1{
    font-size: 50px;
    color: #606d5f;
    margin-bottom: 60px;
    text-align: center;
}
.featured-products .products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}
.featured-products .products .products-card{
    width: 250px;
    height: 250px;
    background-color: #efefefef;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}
.featured-products .products .products-card img{
    width: 80%;
    border-radius: 50%;
}
.featured-products .products .products-card h3{
    font-size: 24px;
    font-weight: 700;
    color: #606d5f;
}
.featured-products .products .products-card .buy-btn{
    background-color: #FFF;
    padding: 10px 20px;
    border: 2px solid #efefefef;
    border-radius: 10px;
    line-height: 10px;
    color: #888888;
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
}

/*Why we are the best*/
.best-section{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 100px;
}
.best-section h1{
    font-size: 50px;
    color: #606d5f;
    margin-bottom: 60px;
    text-align: center;
}
.best-section .grid-items p{
    font-size: 1rem;
    color: #888888;
    padding-top: 20px;
}
.best-section .grid-items .best-card h3{
    font-size: 20px;
    font-weight: 700;
    color: #606d5f;
    padding-top: 20px;
}
.best-section .grid-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.best-section .grid-items .best-card{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 1rem;
}
.best-section .grid-items .best-card img{
    width: 100px;
}

/*Footer Section start*/
footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefefef;
    height: 50px;
}
footer p{
    color: #888888; 
    font-size: 16px;
}